*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

.sidebar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar .menu-btn i {
  font-size: 2rem;
}

.sidebar .menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
}

.sidebar .menu-btn:hover {
  background-color: rgba(185, 171, 236, 0.164);
}

.sidebar .sidebar-items {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sidebar .sidebar-items .item {
  display: flex;
  padding: 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
}

.sidebar .sidebar-items .item:hover {
  background-color: #272727;
}

.logo {
  width: 8rem;
  border-radius: 0.5rem;
}

#menu {
  position: fixed;
  color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #010409;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  z-index: 10;
}

#menu .menu-header {
  justify-content: space-between;

}

#menu .menu-header .menu-btn i {
  font-size: 2.5rem;
  margin-left: 3px;
}

#menu.visible {
  transform: translateX(0);
}

.menu-header {
  display: flex;
  align-items: center;
  padding-left: 6px;
  gap: 24px;
  margin-bottom: 20px;
}

.menu-group {
  padding: 16px 0;
  border-block: 1px solid #3f3f3f;
}

.menu-item {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #272727;
}

.menu-item a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.menu-item i {
  font-size: 1.5rem;
}

.menu-item span {
  font-size: 1rem;
  font-weight: 600;
}

/* ====== SECTION MENU ====== */

.container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  justify-content: center;
}

.max-width {
  max-width: 60rem;
  margin: auto;
}

/* ==== CODIGO PADRÃO */

#hero {
  margin-top: 2rem;
  height: 100vh;
}

.hero-container {
  border-radius: 15px;
  background: linear-gradient(99deg, #B096FB -1%, #ABE4EC 92.31%);
  box-shadow: 0px 23px 30px 0px rgba(171, 236, 214, 0.20), 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  text-align: center;
}

.hero-container .image-hero-container img {
  height: 14rem;
  border-radius: 9px;
}

.content-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 0.5rem;
  margin-top: 1.56rem;
}

.content-hero h2 {
  color: #111827;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.375rem;
}

.content-hero span {
  color: #FFF278;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.375rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2.62rem;
}

.buttons button {
  border-radius: 2rem;
  background: #111827;
  padding: 0.5rem 2.25rem;
  border: none;
}

.buttons a {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  align-items: center;
  display: flex;
  gap: 0.1825rem;
}

/* ====== SECTION HERO ====== */


.about {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.22338rem;
}

.about h1 {
  color: #272727;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.125rem;
  margin-bottom: 1rem;
}

.about p {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  color: #272727;
}

.about .buttons {
  display: flex;
  justify-content: right;
  margin-right: 2rem;
}

.about button {
  width: 7rem;
  border-radius: 0.5rem;
  background: linear-gradient(99deg, #B096FB -1%, #ABE4EC 92.31%);
  padding: 0.4rem;
  border: none;
}

.about a {
  color: #272727;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  align-items: center;
  display: flex;
  gap: 0.1825rem;
}

.programas {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.programa {
  background-color: #f2f2f2;
  padding: 2rem;
  flex-basis: calc(33.333% - 3);
  margin-bottom: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* ====== SECTION ABOUT ====== */

projects {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  align-self: stretch;
}

.projects h1 {
  font-family: "Poppins", sans-serif;
  color: #272727;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.125rem;
}

.project {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.22338rem;
}

.projects h2 {
  color: #272727;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.projects .project .tags span {
  font-family: "Poppins", sans-serif;

}

.project .project-info .tags {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.22338rem;

  color: white;
  padding: 0.48938rem 0.97875rem;
  border-radius: 1.95744rem;
  background: linear-gradient(to right, #5c5eea, #0e2cd8);
}

.projects .project-info i {
  font-size: 1.5rem;
  display: flex;
  flex-direction: inline;
  justify-content: center;
  align-items: inline;
  gap: 0.24469rem;
}

.slider {
  margin: auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
  border-radius: 1rem;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
}

.slides img {
  width: 800px;
}

.manual-navegation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center
}

.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #fff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

.navigation-auto div {
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #fff;
}

/* ====== SECTION PROJECTS ====== */

.faculty h1 {
  color: #272727;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.125rem;
  margin: 1rem;
}

/* ====== SECTION PROJECTS ====== */

.contact {
  margin-top: 2.5rem;
  gap: 4rem;
  display: flex;
  flex-direction: column;
}

.contact h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3.125rem;
}

.contact .content {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 30px;
  width: 80%;
  padding: 25px 0px;
  margin: auto;
  border-radius: 10px;

  background: rgba(35, 113, 255, 0.063);
}

.contact .content p {
  width: 80%;

  font-size: 1.5rem;
  font-style: normal;
  justify-content: center;
}

.contact .contact-icons {
  font-size: 1.5rem;
  display: flex;
  gap: 15px;
}

.contact .contact-icons .ph-twitter-logo {
  padding: 5px;
  border-radius: 50%;
  background-color: #1da1f2;
  color: #fff;
}

.contact .contact-icons .ph-linkedin-logo {
  padding: 5px;
  border-radius: 50%;
  background-color: #0077b5;
  color: #fff;
}

.contact .contact-icons .ph-instagram-logo {
  padding: 5px;
  border-radius: 50%;
  color: #fff;
  background: radial-gradient(at 20% 128%,
      #ac2bb3 20%,
      #e23467 60%,
      #feda78 100%);
}

.contact .contact-icons .ph-facebook-logo {
  padding: 5px;
  border-radius: 50%;
  background-color: #3b5998;
  color: #fff;
}

.contact .content span {
  font-size: 1.5rem;
  font-style: normal;
  justify-content: center;
}

.contact .form {
  text-align: center;
  padding: 20px;
}

.contact .form input[type=text],
.contact .form input[type=email] {
  padding-left: 10px;
  display: block;
  border-radius: 10px;
  margin: 10px auto;
  max-width: 500px;
  width: 100%;
  height: 35px;
  border: 1px solid #ccc;
}

.form textarea {
  padding: 10px;
  resize: vertical;
  display: block;
  border-radius: 10px;
  margin: 10px auto;
  max-width: 500px;
  width: 100%;
  height: 120px;
  border: 1px solid #ccc;
}

.form input[type=submit] {
  padding-left: 10px;
  display: block;
  border-radius: 10px;
  margin: 10px auto;
  max-width: 500px;
  width: 100%;
  cursor: pointer;
  color: white;
  background: rgb(33, 49, 85);
  height: 35px;
  border: 1px solid;
}

.form input:hover[type=submit] {
  background: rgb(154, 179, 192);
  color: rgb(33, 49, 85);
}

/* ====== SECTION CONTACT ====== */


footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.footer_container {
  padding: 0.1rem;
}

.footer_title {
  font-size: 1.5rem;
  font-weight: 500;
}

.footer_divider {
  margin-block: 1rem;
  border: none;
  border-top: 1px solid;
}

.footer_list {
  display: flex;
  justify-content: right;
  margin: 1.5rem;
}

.footer_list i {
  list-style: none;
  font-size: 2.5rem;
}

.footer_bottom span {
  display: flex;
  justify-content: center;
}

.fa-facebook-f,
.fa-instagram,
.fa-youtube {
  padding: 5px;
  text-decoration: none;
  color: inherit;
  transition: color .25s;
}